@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Raleway", sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30 58 138);

  }
  body.dark {
    background-color: rgb(30 58 138);
  }
}

@layer components {
  .colored-btn {
    background-color: #006fee;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
  }
  .colored-btn:hover {
    opacity: 0.8;
  }
  
  .shadow-btn {
    color: #006fee;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    background-color: rgba(0, 111, 238, 0.2);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
  }
  .shadow-btn:hover {
    opacity: 0.8;
  }
  
  .gradient-text {
    background: linear-gradient(to right, #006fee, #6020A0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .input-style {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    margin-top: 0.5rem;
  }
  .input-style:focus {
    outline: none;
    border-color: #6020A0;
  }
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

button:active {
  transform: scale(0.95);
}
